body {
    background-image:url(../vinos-41.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}

.container {
    margin-top: 30px;
}

.cuota {
  display: block;

}

.row {
    color: white;
    background-color: rgba(15, 13, 13, 0.719)
}


h1 {
    text-align: center;
    color: white;
}
