body {
   background-color: aquamarine;
}
header {
   font-size: 75px;
   font-weight: 500;
   background-color: rgb(80, 240, 133)
}
h1 {
   background-color:rgb(80, 240, 133)
}
.navjustify-content-end {
   background-color: rgb(7, 201, 72)
}